.postsBlock {
  padding: 10px;
}

.newPost{
  display: grid;
  grid-template-columns: 99fr 1fr;

}

.newPost textarea{
 height: 16px;
 resize: none;
 padding: 15px;
 border-radius: 999px;
  border-color: #53a1a1;
  border-style: solid;

}

.newPost button{
  height: 50px;
  width: 50px;
  border: 0;
  border-radius: 999px;
  background-color: #53a1a1;
  margin-left: 5px;
  color: azure;
  font-size: larger;
}
.newPost button:hover{
  background-color: #498b8b;
}

.posts {
  margin-top: 10px;
}