.nav {
    grid-area: n;
    background-color: azure;
  
  }

  .item {
    color: #01a1a1;
    text-decoration: none;
    padding-left: 10px;
  }

  .active{
    font-size: larger;
    color: #007272;
    text-decoration: none;
  }

  hr {
    color: #007272;
    border-color: #007272;
}