.nav {
    grid-area: n;
    background-color: azure;
  }

  .item {
    color: #01a1a1;
    text-decoration: none;
  }

  .active{
    font-size: larger;
    color: #007272;
    text-decoration: none;
  }

  