.app-wrapper {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;

  grid-template-areas:
  "h h"
  "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 5px;

}
.header {
  grid-area: h;
  background-color: azure;
}
.header img {
  height: 100%;
}
.nav {
  grid-area: n;
  background-color: azure;
}
.content {
  grid-area: c;
  background-color: azure;
}
