.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    background-color: #e6fdfd;
}

.dialogs a.active{
    color:#007272
}

.messages{
    padding: 10px;

}
.messages hr {
    color: #007272;
    border-color: #007272;
}
.messages .head {
    color: #007272;
    font-size: larger;
    text-align: center;
}

.dialogsItems{
    padding: 10px;
}
